@import "@/styles/_variables";
@import "@/styles/mixins";

.footer {
  background: $color-secondary;
  margin-top: auto;
  padding: 48px 20px;

  .footer-content {
    @include layout-container;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
  }

  .footer-logo {
    opacity: 0.7;
    height: 32px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;

    h4 {
      font-weight: 600;
      color: white;
      font-size: 16px;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;
      transition: color 0.2s;

      a {
        color: $color-overlay-light;

        &:hover {
          color: $color-overlay-light-hover;
        }
      }
    }
  }

  .footer-note {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.75rem;
    color: $color-overlay-light;
  }
}
