@import "@/styles/_variables";
@import "@/styles/mixins";

.hero {
  text-align: center;
  @include layout-container;

  .hero-image {
    margin-top: 60px;
    padding: 0 20px;
  }

  .hero-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.6px;
    color: $color-secondary;
  }

  .hero-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: $color-secondary;
    margin-bottom: 200px;
  }
}
