.clipboard-item {
  background-color: var(--gray-a3);
  border-radius: var(--radius-4);
  border: 1px solid var(--color-border);
  transition: background-color 0.15s ease;
  cursor: pointer;
  border: 1px solid var(--color-border);
  font-size: 12px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.clipboard-item:hover {
  background-color: var(--gray-a4);
}

.clipboard-item:active {
  background-color: var(--gray-a5);
}

.rt-TooltipContent {
  background-color: rgba(26, 26, 26, 0.9); /* or your dark bg */
  /* filter: blur(10px); */
  color: white;
  border-radius: 4px;
  padding: 3px;
  font-size: 13px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.rt-TooltipText {
  color: white;
  font-size: 11px;
}

.rt-TooltipArrow {
  fill: #1a1a1a; /* or your dark bg */
}
