@import "@/styles/variables";

.input-wrapper {
  display: flex;
  align-items: center;
  border: 3px solid $border-light;
  border-radius: 16px;
  background: white;
  padding: 0.75rem 1rem;
  transition: border-color 0.2s ease;
  position: relative;

  &:hover {
    border-color: $border-light-darken;
  }

  &:focus-within {
    border-color: $color-primary;
  }

  &.error {
    border-color: $color-danger;
  }

  .form-error {
    position: absolute;
    bottom: 0;
    color: $color-danger;
    font-size: 12px;
    translate: 0 100%;
    left: 0;
    padding-top: 3px;
  }
}

.input-icon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  flex: 1;
  color: $color-secondary;
  font-family: inherit;
  width: 100%;
  // height: 100%;

  &::placeholder {
    color: $color-muted;
  }
}
