@mixin layout-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

@mixin auth-container {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 95%;
  }
}
