$color-primary: #415af8;
$color-primary-hover: #274ef7; // a bit darker
$color-primary-active: #1f48dd; // deeper press feedback

$color-danger: #f02d3a;
$color-danger-hover: #e6353b;
$color-danger-active: #cb2f37;

$color-secondary: #101010;
$color-secondary-hover: #2a2b2e;
$color-secondary-active: #101112;

// for gray text mostly - can be used for other things
$color-overlay-light: rgba(255, 255, 255, 0.7); // text on dark bg
$color-overlay-light-hover: rgba(255, 255, 255, 0.83); // text on dark bg
$color-muted: #6b7280; // text on white bg
$color-extra-muted: #ababb0; // text on white bg
$border-light: rgba(171, 171, 176, 0.5);
$border-light-darken: rgba(171, 171, 176, 0.7);
